
body
{
    background-color:whitesmoke;

}

div#container
{
    width: 1020px;
    background: chocolate;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
   
}
div#top-bar 
{
   background: url(../images/nordestinas_topbar.png)no-repeat;
   margin-left: 100px; 
   margin-right: 100px;
   margin-top: -10px;
   position: relative;

}

div#top-bar img
{
    position: relative;
    margin-left: 20px;
    margin-top: 15px;
}

nav#menu li
{
    display: inline;
}
#slide-bar
{
    background: yellow;
}
.content-box
{
    background: skyblue;
}

form#form-reservar
{
    background: purple;
}

#entrega
{
    background: green;
}
#local-maps
{
    background: grey;
}
footer#footer-menu-inferior
{
    background: url(../images/nordestinas_footerbar.png) no-repeat;
    height: 200px;
    margin-left: 100px; 
    margin-right: 100px;
    margin-top: -10px;
    position: relative;
}
nav#menu-footer li
{
    display: inline;
}
/*
@media (max-width: 800px)
{
    div#top-bar 
    {
       max-width: 600px;
    }   
}