
body
{
    background-color:whitesmoke;
}

div#top-bar 
{
    background: violet;
}
/*
div#top-bar img
{
    width: 50%;
    height: 50%;
}*/
#slide-bar
{
    background: yellow;
}
.content-box
{
    background: skyblue;
}

form#form-reservar
{
    background: purple;
}

#entrega
{
    background: green;
}
#local-maps
{
    background: grey;
}
footer#footer-menu-inferior
{
    background: firebrick;
}
